#projectionContainer {
  position: relative;
}

#projectionContainer:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 60%;
}

#projectionContainer div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


  